*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h1 {
    text-transform: uppercase;
}

table {
    width: 83.3%;
    margin-inline: auto;
    border: 1px solid black;
}

table tr:nth-child(even){
    background-color:lightgrey;
  }

th {
  text-transform: uppercase;
  line-height: 25px;
  text-align: left;
  padding-left: 20px;
  background-color:lightgrey;
  border: 1px solid black;
}

td {
    padding-left: 20px;
}

tbody tr {
    height: 50px;
}

.width60 {
    width: 60%;
}

.width50 {
    width: 50%;
}

.width20 {
    width: 20%;
}

.width10 {
    width: 10%;
}

.cellCenter {
    padding-left: 0px;
    text-align: center;
}