*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/* -- Header -- */

header {
    background-color: #602C2C;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
    padding: 15px;
}

header a {
    color: white;
    text-decoration: none;
}

header svg {
    fill: #FFE4D0;
}

nav {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    row-gap: 10px;
    max-width: 1240px;
    height: 100%;
}

#nav-left {
    font-size: 40px;
}

#nav-right {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
}

.gestionUsers {
    order: 3;
}

/* Tablettes et ordinateurs */
@media only screen and (min-width: 768px) {

    /* -- Header -- */

    header {
        height: 50px;
    }

    nav {
        flex-direction: row;
    }

    #nav-right {
        justify-content:baseline;
    }
}

/* Odinateurs */
@media only screen and (min-width: 1024px) {

}

/* --- */

h1 {
    text-transform: uppercase;
}

table {
    width: 83.3%;
    margin-inline: auto;
    border: 1px solid black;
}

table tr:nth-child(even) {
    background-color:lightgrey;
  }

th {
  text-transform: uppercase;
  line-height: 25px;
  text-align: left;
  padding-left: 20px;
  background-color:lightgrey;
  border: 1px solid black;
}

td {
    padding-left: 20px;
}

.main-message td {
    vertical-align: top;
    padding-top: 10px;
}

tbody tr {
    height: 50px;
}

.width60 {
    width: 60%;
}

.width50 {
    width: 50%;
}

.width30 {
    width: 30%;
}

.width20 {
    width: 20%;
}

.width10 {
    width: 10%;
}

.cellCenter {
    padding-left: 0px;
    text-align: center;
}

.main-message {
    height: 150px;
}

.editForm {
    display: none;
}

.avatar-prf {
    max-width: 150px;
}

.avatar-msg {
    max-width: 50px;
    margin-right: 10px;
}

.visiteur-display {
    display: flex;
    align-items: center;
}

.no-padding {
    padding: 0px;
}