*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}



:root {
    --icoColor: #FFE4D0;
    --headbgColor: #602C2C;
    --mainbgColor: #FAFAFA;
    --arianebgColor: #E8E8E8;
    --linksColor: #EB3811;
}

/* -- Layout -- */

header {
    background-color: var(--headbgColor);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
    padding: 15px;
    margin-bottom: 50px;
}

footer {
    background-color: var(--headbgColor);
    color: white;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, .25);
    padding: 15px;
    margin-top: 50px;
}

header a,
footer a {
    color: white;
    text-decoration: none;
}

header svg,
footer svg {
    fill: var(--icoColor);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    row-gap: 10px;
    max-width: 1240px;
    height: 100%;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
    gap: 10px 30px;
    max-width: 1240px;
    height: 100%;
}

#nav-left {
    font-size: 40px;
}

#nav-right {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
}

#nav-right a,
li,
li a {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 32px;
}

main {
    background-color: var(--mainbgColor);
    max-width: 1240px;
    margin-inline: auto;
    border: 1px solid var(--arianebgColor);
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
}

.gestionUsers {
    order: 3;
}

.socials {
    display: flex;
    gap: 15px;
    padding-left: 10px;
}

/* --- Main Content --- */

.ariane {
    background-color: var(--arianebgColor);
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 10px;
    line-height: 50px;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
}

.ariane a,
.ariane svg {
    color: var(--linksColor);
    fill: var(--linksColor);
    text-decoration: none;
}

.main-content {
    padding: 20px;
}

/* Tablettes et ordinateurs */
@media only screen and (min-width: 768px) {

    /* -- Layout -- */

    header {
        height: 50px;
    }

    nav {
        flex-direction: row;
    }

    footer ul {
        gap: 10px 100px;
    }

    #nav-right {
        justify-content: baseline;
    }
}

/* Odinateurs */
@media only screen and (min-width: 1024px) {}

/* --- */

h1 {
    text-transform: uppercase;
}

table {
    width: 83.3%;
    margin-inline: auto;
    border: 1px solid black;
}

table tr:nth-child(even) {
    background-color: lightgrey;
}

th {
    text-transform: uppercase;
    line-height: 25px;
    text-align: left;
    padding-left: 20px;
    background-color: lightgrey;
    border: 1px solid black;
}

td {
    padding-left: 20px;
}

.main-message td {
    vertical-align: top;
    padding-top: 10px;
}

tbody tr {
    height: 50px;
}

.width60 {
    width: 60%;
}

.width50 {
    width: 50%;
}

.width30 {
    width: 30%;
}

.width20 {
    width: 20%;
}

.width10 {
    width: 10%;
}

.cellCenter {
    padding-left: 0px;
    text-align: center;
}

.main-message {
    height: 150px;
}

.editForm {
    display: none;
}

.avatar-prf {
    max-width: 150px;
}

.avatar-msg {
    max-width: 50px;
    margin-right: 10px;
}

.visiteur-display {
    display: flex;
    align-items: center;
}

.no-padding {
    padding: 0px;
}