*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --icoColor: #FFE4D0;
    --headbgColor: #602C2C;
    --mainbgColor: #FAFAFA;
    --arianebgColor: #E8E8E8;
    --linksColor: #EB3811;
    --infosColor: #FFE4D0;
    --cattopicoColor: #D7D1E5;
    --textColor: #5C7488;
    --btnColor: #F27935;
    --topicColor: #49A0CC;
    --tableinnerColor: #E4E4E4;
}

/* -- Layout -- */

header {
    background-color: var(--headbgColor);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
    padding: 15px;
    margin-bottom: 25px;
}

footer {
    background-color: var(--headbgColor);
    color: white;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, .25);
    padding: 15px;
    margin-top: 25px;
    height: 104px;
}

header a,
footer a {
    color: white;
    text-decoration: none;
}

header svg,
footer svg {
    fill: var(--icoColor);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    row-gap: 10px;
    max-width: 1240px;
    height: 100%;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
    gap: 10px 30px;
    max-width: 1240px;
    height: 100%;
}

#nav-left {
    font-size: 40px;
}

#nav-right {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
}

#nav-right a,
li,
li a {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 32px;
}

main {
    background-color: var(--mainbgColor);
    max-width: 1240px;
    margin-inline: auto;
    border: 1px solid var(--arianebgColor);
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
    color: var(--textColor);
    min-height: calc(100vh - 254px);
}

.gestionUsers {
    order: 3;
}

.socials {
    display: flex;
    gap: 15px;
    padding-left: 10px;
}

/* --- Main Content --- */

.width60 {
    width: 60%;
}

.width50 {
    width: 50%;
}

.width30 {
    width: 30%;
}

.width20 {
    width: 20%;
}

.width10 {
    width: 10%;
}

.main-message {
    padding: 10px;
}

.editForm {
    display: none;
}

.avatar-prf {
    max-width: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.avatar-msg {
    max-width: 50px;
    margin-right: 10px;
    border-radius: 100%;
}

.visiteur-display {
    display: flex;
    align-items: center;
}

p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    border-spacing: 0px;
    border-radius: 5px;
    border-top: 1px solid var(--arianebgColor);
    min-width: 100%;
}

table tr:nth-child(even) {
    background-color: white;
}

.messages-display tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.messages-display tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

th,
.form-head {
    text-transform: uppercase;
    line-height: 53px;
    text-align: left;
    padding-left: 20px;
    background-color: var(--headbgColor);
    color: white;
    font-size: 16px;
    font-weight: initial;
}

thead {
    display: none;
}

td {
    padding: 10px;
}

td svg {
    min-width: 50px;
    fill: var(--cattopicoColor);
}

tbody {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input,
textarea,
select {
    background-color: var(--arianebgColor);
    border: 1px solid var(--textColor);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

textarea {
    resize: vertical;
    min-height: 82px;
}

input[type=text] {
    width: 100%;
    height: 30px;
}

label {
    margin-bottom: 5px;
}

.ariane {
    background-color: var(--arianebgColor);
    display: flex;
    align-items: center;
    gap: 6px;
    padding-inline: 10px;
    min-height: 50px;
    border-radius: 10px 10px 0px 0px;
}

.arianePath {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
}

.pathPart {
    display: block;
    line-height: 30px;
}

a,
.ariane svg {
    color: var(--linksColor);
    fill: var(--linksColor);
    text-decoration: none;
}

.alerts {
    margin-inline: 20px;
}

.main-content {
    padding: 20px;
}

.th-infos {
    color: var(--infosColor)
}

.table-cat {
    display: flex;
    align-items: center;
    min-height: 86px;
    gap: 10px;
}

.cellCenter,
.cellCenter-responsive {
    padding-left: 0px;
    text-align: center;
}

.cellCenter-responsive {
    min-width: 40px;
    padding-left: 0px;
}

.cat-infos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cat-description {
    font-size: 12px;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions-abs {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn {
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--btnColor);
    color: white;
    border: 1px solid var(--btnColor);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.btn svg {
    fill: white;
    min-width: 0px;
    padding-top: 5px;
}

.btn-form {
    width: 150px;
    align-self: flex-end;
}

.btn-small {
    width: 110px;
}

.btn-norm {
    width: 150px;
}

.btn-large {
    width: 220px;
}

.form {
    margin-inline: auto;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
}

.form-head {
    margin-top: 20px;
    border-radius: 5px 5px 0px 0px;
}

.responsive-table-hide,
.responsive-hide {
    display: none;
}

.responsive-show {
    display: block;
}

.responsive-msg {
    padding: 5px 0px;
}

.roleForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topicName {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topicIcon {
    position: relative;
}

.lock {
    fill: var(--textColor);
    position: absolute;
    left: 15px;
    top: 30px;
}

.topicLockActions {
    margin-left: auto;
}

h1,
h2 {
    font-size: 20px;
    font-weight: initial;
    color: var(--topicColor);
    padding-bottom: 10px;
}

h2 {
    text-align: center;
}

.main-message td {
    vertical-align: top;
    padding-top: 10px;
    color: black;
}

.side-infos {
    display: none;
}

.side-infos-black {
    padding-top: 20px;
    color: black;
}

.side-msg {
    width: 100%;
}

.top-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid var(--tableinnerColor);
    padding: 10px;
    min-height: 50px;
}

.message-display {
    display: flex;
    margin-inline: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);

}

.msgUserInfos {
    display: flex;
    flex-direction: column;
}

.prf-msgTopic {
    padding-bottom: 10px;
}

.prf-Infos {
    text-align: center;
}

.profil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px 0px 20px 0px;
}

.prf-responsive {
    background-color: white;
    border-radius: 5px;
}

/* --- Modales --- */

/* Animation */
@keyframes fadeIN {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    animation-name: fadeIN;
    animation-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien */
.modal:target {
    display: table;
}

/* la fenêtre modale  */
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

/* Le contenu de la modale */
h3 {
    color: white;
    line-height: 50px;
    font-weight: initial;
}

.modal-dialog .modal-content {
    margin: auto;
    background-color: white;
    padding: 0;
    outline: 0;
    text-align: justify;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    animation-name: fadeIN;
    animation-duration: 0.5s;
}

.modal-content header {
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
}

.modal-content p {
    text-align: center;
}

/* Bouton servant à fermer la fenêtre modale */
.closebtn {
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.closebtn:hover,
.closebtn:focus {
    color: var(--linksColor);
    text-decoration: none;
    cursor: pointer;
}

.container {
    padding: 2px 16px;
}

/* Tablettes et ordinateurs */
@media only screen and (min-width: 768px) {

    /* -- Layout -- */

    header {
        height: 50px;
        margin-bottom: 50px;
    }

    nav {
        flex-direction: row;
    }

    footer {
        margin-top: 50px;
    }

    footer ul {
        gap: 10px 100px;
    }

    #nav-right {
        justify-content: baseline;
    }

    /* --- Main content --- */

    input[type=text] {
        width: 266px;
    }

    td {
        padding: 10px 10px 10px 20px;
    }

    th:first-child {
        border-radius: 5px 0px 0px 0px;
    }

    th:last-child {
        border-radius: 0px 5px 0px 0px;
    }

    thead {
        display: contents;
    }

    h2 {
        text-align: start;
        padding-top: 10px;
        padding-left: 10px;
    }

    .cellCenter-responsive {
        text-align: left;
        padding-inline: 20px;
    }

    .responsive-table-hide {
        display: table-cell;
    }

    .responsive-hide {
        display: block;
    }

    .responsive-show {
        display: none;
    }

    .table-cat {
        flex-wrap: nowrap;
    }

    .cat-infos {
        flex-direction: row;
        align-items: center;
    }

    .actions {
        margin-left: auto;
    }

    .responsive-msg {
        display: none;
    }

    .ban {
        display: flex;
    }

    .side-infos {
        display: block;
        border-right: 1px solid var(--tableinnerColor);
        width: 275px;
        padding: 10px 10px 10px 20px;
    }

    .message-display-prf {
        width: 100%;
        box-shadow:none;
        margin-bottom: 0px;
    }

    .prf-msgTopic {
        padding-bottom: 0px;
    }

    .prf-msgInfos {
        flex-direction: row;
        justify-content: start;
        gap: 10px;
        align-items: center;
    }

    .prf-Infos {
        text-align: start;
    }

    .profil {
        padding: 10px 0px 20px 10px;
    }

    .prf-responsive {
        display: flex;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
    }

    .lastMsgs {
        width: 100%;
        margin-left: 10px;
        border-left: 1px solid var(--cattopicoColor);
    }

    /* --- Modales --- */

    .modal-dialog .modal-content {
        width: 90%;
        max-width: 500px;
    }
}

/* Odinateurs */
@media only screen and (min-width: 1024px) {

    /* -- Layout -- */

    footer {
        height: 62px;
    }

    /* --- Main content --- */

    main {
        min-height: calc(100vh - 212px);
    }

    table {
        min-width: 50%;
        width: 85%;
        margin-inline: auto;
    }

    .msgUserInfos {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .message-display {
        width: 85%;
    }

    .message-display-prf {
        width: 100%;
    }

    .form {
        width: 85%;
    }

    .prf-responsive {
        width: 85%;
        margin-inline: auto;
    }
}